{% extends "layout.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <ul class="nav nav-pills dashboard-nav">
          <li role="presentation"><a href="{% url 'dashboard:subscriptions' %}">Subscriptions</a></li>
          <li role="presentation"><a href="{% url 'dashboard:payment_sources' %}">Payment Methods</a></li>
          <li role="presentation" class="active"><a href="{% url 'dashboard:profile' %}">Profile</a></li>
        </ul>

        <h1>Profile</h1>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
