{% extends "layout.html" %}

{% block content %}

    <!-- Full Width Image Header -->
    <header class="header-image jumbotron hero-spacer">
        <div class="headline">
            <form class="form-signin" method="POST" action="{% url 'dashboard:sign_in' %}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-lg btn-block btn-primary" type="submit">Sign In</button>
            </form>
        </div>
    </header>

{% endblock %}