{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Full Width Image Header -->
    <header class="header-image jumbotron hero-spacer">

        {% for message in messages %}
            <div class="alert alert-{{ message_type_to_alert_class|get:message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ form.non_field_errors|first|escape }}
            </div>
        {% endif %}

        <div class="headline">

            <form class="form-signin" method="POST" action="{% url 'auth:reset_password' %}">
                {% csrf_token %}

                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    {% if form.email.errors %}
                        <label class="control-label"
                               for="{{ form.email.name }}">{{ form.email.errors|first|escape }}</label>
                    {% endif %}
                    <input type="text" name="{{ form.email.name }}" id="{{ form.email.name }}" class="form-control"
                           placeholder="Email address"
                           value="{% if form.email.value %}{{ form.email.value|escape }}{% endif %}">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
                </div>
            </form>

        </div>

    </header>

{% endblock %}