{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <div class="pull-right">
                <a href="{% url 'alarms:add' %}" class="btn btn-primary">
                    Add Alarm <i class="fa fa-plus-circle"></i>
                </a>
            </div>
            <h1>Alarms</h1>

            <div class="clearfix"></div>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message_type_to_alert_class|get:message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        {% if alarms.count < 1 %}
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                You haven't added any alarms yet.
                Click <a href="{% url 'alarms:add' %}"><b>here</b></a> to add an alarm!
            </div>
        {% endif %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Region</th>
                <th>Endpoint URL</th>
                <th>HTTP Code</th>
                <th>Response Time</th>
                <th>Interval</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for alarm in alarms|get:'_embedded'|get:'alarms' %}
                <tr>
                    <td>
                        <a href="{% url 'alarms:update' alarm.id %}">{{ alarm.id|escape }}</a>
                    </td>
                    <td>
                        {% if alarm.state == 'ok' %}
                            <a href="{% url 'alarms:alarm_incidents' alarm.id %}">
                                <span class="label label-success alarm-status">
                                    {{ alarm.state|escape }}
                                </span>
                            </a>
                        {% elif alarm.state == 'insufficient_data' %}
                            <a href="{% url 'alarms:alarm_incidents' alarm.id %}">
                                <span class="label label-default alarm-status">
                                    n/a
                                </span>
                            </a>
                        {% else %}
                            <a href="{% url 'alarms:alarm_incidents' alarm.id %}">
                                <span class="label label-danger alarm-status">
                                    {{ alarm.state|escape }}
                                </span>
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ alarm.region|escape }}</td>
                    <td>{{ alarm.endpoint_url|escape }}</td>
                    <td>{{ alarm.expected_http_code|escape }}</td>
                    <td>{{ alarm.max_response_time|escape }}ms</td>
                    <td>{{ alarm.interval|escape }}s</td>
                    <td>
                        {% if alarm.active %}
                            <span class="label label-success alarm-active">yes</span>
                        {% else %}
                            <span class="label label-default alarm-active">no</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'alarms:delete' alarm.id %}">
                            <span class="label label-danger action-button">
                                Delete
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
