{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Edit Alarm #{{ alarm.id|escape }}</h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="{% url 'alarms:index' %}">Alarms</a></li>
            <li class="active">Edit Alarm #{{ alarm.id|escape }}</li>
        </ol>

        {% for message in messages %}
            <div class="alert alert-{{ message_type_to_alert_class|get:message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ form.non_field_errors|first|escape }}
            </div>
        {% endif %}

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Alarm Data</h3>
            </div>

            <form id="update-alarm-form" method="POST" action="{% url 'alarms:update' alarm.id %}">
                {% csrf_token %}

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group {% if form.region.errors %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.region.name }}">
                                    {% if form.region.errors %}
                                        {{ form.region.label }}<br>{{ form.region.errors|first|escape }}
                                    {% else %}
                                        {{ form.region.label }}
                                    {% endif %}
                                </label>
                                <select class="form-control" id="{{ form.region.name }}" name="{{ form.region.name }}">
                                    <option value=""></option>
                                    {% for id, name in form.fields.region.choices %}
                                        {% if form.region.value == id %}
                                            <option value="{{ id|escape }}" selected>{{ name|escape }}</option>
                                        {% else %}
                                            <option value="{{ id|escape }}">{{ name|escape }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group {% if form.endpoint_url.errors %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.endpoint_url.name }}">
                                    {% if form.endpoint_url.errors %}
                                        {{ form.endpoint_url.label }}<br>{{ form.endpoint_url.errors|first|escape }}
                                    {% else %}
                                        {{ form.endpoint_url.label }}
                                    {% endif %}
                                </label>

                                <input type="text" class="form-control" id="{{ form.endpoint_url.name }}"
                                       name="{{ form.endpoint_url.name }}"
                                       value="{{ form.endpoint_url.value|default_if_none:''|escape }}">
                            </div>

                            <div class="form-group {% if form.expected_http_code.errors %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.expected_http_code.name }}">
                                    {% if form.expected_http_code.errors %}
                                        {{ form.expected_http_code.label }}<br>
                                        {{ form.expected_http_code.errors|first|escape }}
                                    {% else %}
                                        {{ form.expected_http_code.label }}
                                    {% endif %}
                                </label>

                                <input type="text" class="form-control" id="{{ form.expected_http_code.name }}"
                                       name="{{ form.expected_http_code.name }}"
                                       value="{{ form.expected_http_code.value|default_if_none:''|escape }}">
                            </div>

                            <div class="form-group {% if form.max_response_time.errors %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.max_response_time.name }}">
                                    {% if form.max_response_time.errors %}
                                        {{ form.max_response_time.label }}<br>
                                        {{ form.max_response_time.errors|first|escape }}
                                    {% else %}
                                        {{ form.max_response_time.label }}
                                    {% endif %}
                                </label>

                                <input type="text" class="form-control" id="{{ form.max_response_time.name }}"
                                       name="{{ form.max_response_time.name }}"
                                       value="{{ form.max_response_time.value|default_if_none:''|escape }}">
                            </div>

                            <div class="form-group {% if form.interval.errors %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.interval.name }}">
                                    {% if form.interval.errors %}
                                        {{ form.interval.label }}<br>{{ form.interval.errors|first|escape }}
                                    {% else %}
                                        {{ form.interval.label }}
                                    {% endif %}
                                </label>

                                <input type="text" class="form-control" id="{{ form.interval.name }}"
                                       name="{{ form.interval.name }}"
                                       value="{{ form.interval.value|default_if_none:''|escape }}">
                            </div>

                            <div class="checkbox">
                                <label>
                                    {{ form.email_alerts }} {{ form.email_alerts.label }}
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    {{ form.push_notification_alerts }} {{ form.push_notification_alerts.label }}
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    {{ form.slack_alerts }} {{ form.slack_alerts.label }}
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    {{ form.active }} {{ form.active.label }}
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>

        </div>


        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
