{% extends "layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Edit Team #{{ team.id|escape }}</h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="{% url 'teams:index' %}">Teams</a></li>
            <li class="active">Edit Team #{{ team.id|escape }}</li>
        </ol>

        {% for message in messages %}
            <div class="alert alert-{{ message_type_to_alert_class|get:message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ form.non_field_errors|first|escape }}
            </div>
        {% endif %}

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Team Data</h3>
            </div>

            <form id="update-team-form" method="POST" action="{% url 'teams:update' team.id %}">
                {% csrf_token %}

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                <label class="control-label" for="{{ form.name.name }}">
                                    {% if form.name.errors %}
                                        {{ form.name.label }}<br>{{ form.name.errors|first|escape }}
                                    {% else %}
                                        {{ form.name.label }}
                                    {% endif %}
                                </label>

                                <input type="text" class="form-control" id="{{ form.name.name }}"
                                       name="{{ form.name.name }}"
                                       value="{{ form.name.value|default_if_none:''|escape }}">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group {% if form.members.errors %}has-error{% endif %}">
                                <label class="control-label" for="members">
                                    {% if form.members.errors %}
                                        {{ form.members.label }}<br>{{ form.members.errors|first|escape }}
                                    {% else %}
                                        {{ form.members.label }}
                                    {% endif %}
                                </label>

                                <textarea class="form-control" id="{{ form.members.name }}" rows="3"
                                          name="{{ form.members.name }}">{{ form.members.value|default_if_none:''|escape }}</textarea>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Update Team</button>
                    </div>
                </div>

            </form>

        </div>


        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}

{% block additional_css %}
    <!-- required stylesheet for TextboxList -->
    <link rel="stylesheet" href="{% static 'css/textbox-list.css' %}" type="text/css" media="screen" charset="utf-8">
    <!-- required stylesheet for TextboxList.Autocomplete -->
    <link rel="stylesheet" href="{% static 'css/textbox-list.autocomplete.css' %}" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block inline_js %}
    <!-- required for TextboxList -->
    <script src="{% static 'js/growing-input.js' %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static 'js/textbox-list.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/textbox-list.autocomplete.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- required for TextboxList.Autocomplete if method set to 'binary' -->
    <script src="{% static 'js/textbox-list.autocomplete.binary.js' %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        //<![CDATA[
        jQuery(function ($) {
            var t = new $.TextboxList('#members', {});
        });
        //]]>
    </script>
{% endblock %}

