{% extends "layout-default.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Frequently Asked Questions</h1>
        </div>

        <!-- First Featurette -->
        <div class="featurette" id="faq">
            <dl>
                {% for faq in faqs %}
                    <dt>{{ faq.question|escape }}</dt>
                    <dd>{{ faq.answer|escape }}</dd><br>
                {% endfor %}
            </dl>
        </div>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
