{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

    <!-- Full Width Image Header -->
    <header class="header-image jumbotron hero-spacer">
        <div class="headline">
            <h1>Uptime And Performance <br>Monitoring Done Right</h1>

            <p>Setup alarms to monitor critical pieces of your architecture</p>

            <p>Receive notification alerts when our platform detects a downtime</p>

            <p>Perform Post-mortem analysis of incidents and performance metrics</p>

            <p><a href="#plans" class="btn btn-primary btn-lg">Start Free Trial</a>
            </p>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="{% static 'images/placeholder500x500.png' %}">

            <h2 class="featurette-heading">Keep Your Critical
                <span class="text-muted">Infrastructure Up &amp; Running</span>
            </h2>

            <p class="lead">Businesses today largely depend on API driven infrastructures with lots of moving parts.</p>

            <p class="lead">A service downtime can cause you a lot of money by breaking your mobile app or e-commerce
                website.</p>

            <p class="lead">Our platform allows you to instantly notify your engineering team of a downtime and quickens
                their response.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="features">
            <img class="featurette-image img-circle img-responsive pull-left" src="{% static 'images/placeholder500x500.png' %}">

            <h2 class="featurette-heading">Mitigate Risk &amp; Improve
                <span class="text-muted">Reliability &amp; Performance</span>
            </h2>

            <p class="lead">By analysing performance of your platform over time you can discover potential
                bottlenecks.</p>

            <p class="lead">Prioritise focus of your engineering team on fixing them and thus improving reliability and
                scalability of your system.</p>

            <p class="lead">Our platform logs performance metrics and any incidents related to your services and
                presents the collected information in a useful way.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="plans">
            <!-- Plans -->
            <div class="row text-center">

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="plan-description">
                        <h3>Personal<br>$2.5</h3>

                        <p>30 days free trial</p>

                        <p>2 alarms</p>

                        <p>no team login</p>

                        <p>
                            <a href="#" class="btn btn-primary btn-lg">Start Free Trial</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 plan">
                    <div class="plan-description">
                        <h3>Professional<br>$10</h3>

                        <p>30 days free trial</p>

                        <p>10 alarms</p>

                        <p>no team login</p>

                        <p>
                            <a href="#" class="btn btn-primary btn-lg">Start Free Trial</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 plan">
                    <div class="plan-description">
                        <h3>Startup<br>$75</h3>

                        <p>30 days free trial</p>

                        <p>10 alarms</p>

                        <p>team login 1 x 10 users</p>

                        <p>
                            <a href="#" class="btn btn-primary btn-lg">Start Free Trial</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 plan">
                    <div class="plan-description">
                        <h3>Business<br>$150</h3>

                        <p>30 days free trial</p>

                        <p>200 alarms</p>

                        <p>team login 5 x 10 users</p>

                        <p>
                            <a href="#" class="btn btn-primary btn-lg">Start Free Trial</a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
