{% extends "layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <!-- Jumbotron -->
    <header class="jumbotron header-image">
        <div class="headline">
            <h1>Uptime And Performance <br>Monitoring Done Right</h1>

            <p>Setup alarms to monitor critical pieces of your architecture</p>

            <p>Receive notification alerts when our platform detects a downtime</p>

            <p>Perform Post-mortem analysis of incidents and performance metrics</p>

            <p>
                <a href="{% url 'auth:register' %}" class="btn btn-primary btn-lg">
                    Sign Up For Free <i class="fa fa-arrow-circle-right"></i>
                </a>

                <a href="{{ ios_link }}" class="ios-download-badge">
                    <img src="{% static 'images/ios-download_135x40.svg' %}" alt="Download from App Store">
                </a>
            </p>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="featurette-heading">Keep Your Critical
                        <span class="text-muted">Servers Up &amp; Running</span>
                    </h2>

                    <p class="lead">
                        Businesses today largely depend on API driven infrastructures with lots of moving parts.
                    </p>

                    <p class="lead">
                        A service downtime can cause you a lot of money by breaking your mobile app or e-commerce
                        website.
                    </p>

                    <p class="lead">
                        Our platform allows you to instantly notify your engineering team of a downtime and quickens
                        their response.
                    </p>

                    <div class="row">
                        <div class="col-sm-2">
                            <a href="http://aws.amazon.com/what-is-cloud-computing"><img
                                    src="http://awsmedia.s3.amazonaws.com/AWS_Logo_PoweredBy_127px.png"
                                    alt="Powered by AWS Cloud Computing" class="img-responsive"></a>
                        </div>
                        <div class="col-sm-10">
                            <p>
                                We use microservices architecture running on AWS distributed across 3 availability
                                zones. Services are written in Go and deployed as Docker containers on CoreOS instances.
                                Each service is behind a load balancer and within an autoscalling group which makes sure
                                any failed instance gets replaced by a healthy one automatically.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <br>
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screen-1.png' %}">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="features">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="featurette-heading">Mitigate Risk &amp; Improve
                        <span class="text-muted">Reliability &amp; Performance</span>
                    </h2>

                    <p class="lead">
                        By analysing performance of your platform over time you can discover potential bottlenecks.
                    </p>

                    <p class="lead">
                        Prioritise focus of your engineering team on fixing them and thus improving reliability and
                        scalability of your system.
                    </p>

                    <p class="lead">
                        Our platform logs performance metrics and any incidents related to your services and presents
                        the collected information in a useful way.
                    </p>
                </div>
                <div class="col-md-2">
                    <br>
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screen-2.png' %}">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="plans">
            <!-- Plans -->
            <div class="row text-center">

                {% for plan in plans|get:"_embedded"|get:"plans" %}
                    <div class="col-md-3 col-sm-6 hero-feature">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ plan.name|escape }}</h3>
                            </div>
                            <div class="panel-body">
                                <p><i class="fa fa-{{ plan.currency|lower|escape }}"
                                      aria-hidden="true"></i>{{ plan.amount|divide:100|floatformat|escape }} per month
                                </p>

                                {% if plan.trial_period > 0 %}
                                    <p>{{ plan.trial_period|escape }} days free trial</p>
                                {% else %}
                                    <p>no free trial</p>
                                {% endif %}

                                <p>{{ plan.max_alarms|escape }} alarms</p>

                                <p>{{ plan.min_alarm_interval|escape }}s interval</p>

                                {% if plan.max_teams > 0 %}
                                    <p>team login {{ plan.max_teams|escape }}
                                        x {{ plan.max_members_per_team|escape }}</p>
                                {% else %}
                                    <p>no team login</p>
                                {% endif %}

                                {% if plan.unlimited_emails %}
                                    <p>unlimited emails</p>
                                {% else %}
                                    <p>{{ plan.max_emails_per_interval|escape }} emails</p>
                                {% endif %}

                                {% if plan.unlimited_push_notifications %}
                                    <p>unlimited push notifications</p>
                                {% else %}
                                    <p>{{ plan.max_push_notifications_per_interval|escape }} push notifications</p>
                                {% endif %}

                                {% if plan.slack_alerts %}
                                    <p>Slack incoming webhook</p>
                                {% else %}
                                    <p>no Slack integration</p>
                                {% endif %}

                                <p>
                                    <a href="{% url 'subscriptions:index' %}" class="btn btn-primary btn-lg">Start Free
                                        Trial <i class="fa fa-arrow-circle-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.row -->
        </div>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
