awscli==1.10.38
boto==2.40.0
botocore==1.4.26
colorama==0.3.3
Django==1.11.29
django-s3-storage==0.9.8
django-simple-captcha==0.5.1
dnspython==1.14.0
docutils==0.12
futures==3.0.5
gunicorn==19.6.0
jmespath==0.9.0
Pillow==3.2.0
psycopg2==2.6.1
pyasn1==0.1.9
python-dateutil==2.5.3
python-etcd==0.4.3
requests==2.10.0
rsa==3.4.2
s3transfer==0.0.1
six==1.10.0
urllib3==1.16
