awscli==1.10.37
boto==2.40.0
botocore==1.4.27
colorama==0.3.3
Django==1.9.7
django-s3-storage==0.9.8
django-simple-captcha==0.5.1
dnspython==1.14.0
docutils==0.12
futures==3.0.5
gunicorn==19.6.0
jmespath==0.9.0
oauthlib==1.1.1
Pillow==3.2.0
psycopg2==2.6.1
pyasn1==0.1.9
python-dateutil==2.5.3
python-etcd==0.4.3
python-magic==0.4.11
requests==2.10.0
requests-oauthlib==0.6.1
rsa==3.4.2
s3cmd==1.6.1
s3transfer==0.0.1
six==1.10.0
urllib3==1.15.1
