{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Add Subscription</h1>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message_type_to_alert_class|get:message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ form.non_field_errors|first|escape }}
            </div>
        {% endif %}

        {% if cards.count < 1 %}
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                You don't have a payment source yet.
                Click <a href="{% url 'payment_sources:add' %}"><b>here</b></a> to add a card!
            </div>
        {% endif %}

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Subscription Data</h3>
            </div>

            <form id="add-subscription-form" method="POST" action="{% url 'subscriptions:add' %}">
                {% csrf_token %}

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group {% if form.plan.errors %}has-error{% endif %}">
                                <label class="control-label" for="plan">
                                    {% if form.plan.errors %}
                                        Plan<br>{{ form.plan.errors|first|escape }}
                                    {% else %}
                                        Plan
                                    {% endif %}
                                </label>
                                <select class="form-control" id="plan" name="plan">
                                    <option value=""></option>
                                    {% for id, name in form.fields.plan.choices %}
                                        {% if form.plan.value == id %}
                                            <option value="{{ id|escape }}" selected>{{ name|escape }}</option>
                                        {% else %}
                                            <option value="{{ id|escape }}">{{ name|escape }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary{% if cards.count < 1 %} disabled{% endif %}">Add
                            Subscription
                        </button>
                    </div>
                </div>

            </form>

        </div>


        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
