{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Cancel Subscription #{{ subscription.id }}</h1>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        <p>Are you sure you want to cancel the subscription?</p>

        <form method="POST" action="{% url 'subscriptions:cancel' subscription.id %}">
            {% csrf_token %}

            {{ form.subscription_id }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Yes, cancel!</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'payment_sources:index' %}">Go back</a>
            </div>
        </form>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
