{% extends "layout-default.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <div class="pull-right">
                <a href="{% url 'subscriptions:add' %}" class="btn btn-primary">
                    Add Subscription <i class="fa fa-plus-circle"></i>
                </a>
            </div>
            <h1>Subscriptions</h1>

            <div class="clearfix"></div>
        </div>

        <ol class="breadcrumb">
            <li>Account</li>
            <li class="active">Subscriptions</li>
        </ol>

        {% for message in messages %}
            <div class="alert alert-{{ message_type_to_alert_class|get:message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Plan</th>
                    <th>Started At</th>
                    <th>Trial Period</th>
                    <th>Current Period</th>
                    <th>Cancelled At</th>
                    <th>Ended At</th>

                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for subscription in subscriptions|get:"_embedded"|get:"subscriptions" %}
                    <tr>
                        <td>
                            {% if not subscription.cancelled_at %}
                                <a href="{% url 'subscriptions:update' subscription.id %}">{{ subscription.id|escape }}</a>
                            {% else %}
                                {{ subscription.id|escape }}
                            {% endif %}
                        </td>
                        <td>
                            {% if  subscription.status == 'active' or subscription.status == 'trialing' and not subscription.cancelled_at %}
                                <span class="label label-success subscription-status">{{ subscription.status|escape }}</span>
                            {% else %}
                                <span class="label label-default subscription-status">
                            {% if subscription.ended_at %}
                                cancelled
                            {% elif subscription.cancelled_at %}
                                ending
                            {% else %}
                                {{ subscription.status|escape }}
                            {% endif %}
                            </span>
                            {% endif %}
                        </td>
                        <td>{{ subscription|get:'_embedded'|get:'plan'|get:'name' }}</td>
                        <td>{{ subscription.started_at.date|escape }}</td>
                        <td>
                            <table>
                                <tr>
                                    <td class="text-right">FROM &nbsp;</td>
                                    <td>{{ subscription.trial_start.date|escape }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">TO &nbsp;</td>
                                    <td>{{ subscription.trial_end.date|escape }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td class="text-right">FROM &nbsp;</td>
                                    <td>{{ subscription.period_start.date|escape }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">TO &nbsp;</td>
                                    <td>{{ subscription.period_end.date|escape }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>{{ subscription.cancelled_at.date|escape }}</td>
                        <td>{{ subscription.ended_at.date|escape }}</td>
                        <td>
                            {% if not subscription.cancelled_at %}
                                <a href="{% url 'subscriptions:cancel' subscription.id %}">
                                <span class="label label-danger action-button">
                                    Cancel
                                </span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if subscriptions|get:'_links'|get:'prev'|get:'href' or subscriptions|get:'_links'|get:'next'|get:'href' %}
            <nav class="text-center">
                <ul class="pagination">
                    <li>
                        {% if subscriptions|get:'_links'|get:'prev'|get:'href' %}
                            <a href="{% url 'subscriptions:index' %}?page={{ page|add:-1 }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&laquo;</span>
                        {% endif %}
                    </li>
                    <li>
                        {% if subscriptions|get:'_links'|get:'next'|get:'href' %}
                            <a href="{% url 'subscriptions:index' %}?page={{ page|add:1 }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% endif %}

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
