{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <div class="pull-right">
                <a href="{% url 'subscriptions:add' %}" class="btn btn-primary">
                    Add Subscription <i class="fa fa-plus-circle"></i>
                </a>
            </div>
            <h1>Subscriptions</h1>

            <div class="clearfix"></div>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags|escape }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message.message|escape }}
            </div>
        {% endfor %}

        {% if subscriptions.count < 1 %}
            <div class="alert alert-warning" role="alert">
                You don't have a subscription yet. Click <a href="{% url 'subscriptions:add' %}"><b>here</b></a>
                to subscribe!
            </div>
        {% endif %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Plan</th>
                <th>Started At</th>
                <th>Cancelled At</th>
                <th>Ended At</th>
                <th>Trial Start</th>
                <th>Trial End</th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions|get:"_embedded"|get:"subscriptions" %}
                <tr>
                    <td>{{ subscription.id|escape }}</td>
                    <td>{{ subscription|get:'_embedded'|get:'plan'|get:'name' }}</td>
                    <td>{{ subscription.started_at.date|escape }}</td>
                    <td>{{ subscription.cancelled_at.date|escape }}</td>
                    <td>{{ subscription.ended_at.date|escape }}</td>
                    <td>{{ subscription.trial_start.date|escape }}</td>
                    <td>{{ subscription.trial_end.date|escape }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}
