{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Plans</h1>
        </div>

        <ol class="breadcrumb">
            <li>Account</li>
            <li class="active">Plans</li>
        </ol>

        <div class="well">
            <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;
            Subscription limits such as maximum number of alarms apply globally
            to all users within teams you create
            <br>
            <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;
            For example, a team with 5 users, each of them with 10 alarms,
            means you have used 50 out of your alarms limit
            <br>
            <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;
            You can upgrade or downgrade your plan at any times
        </div>

        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Plan</th>
                    <th>Monthly Price</th>
                    <th>Free Trial</th>
                    <th>Alarms</th>
                    <th>Teams</th>
                    <th>Users Per Team</th>
                    <th>Min Interval</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Free Tier</b></td>
                    <td>completely free</td>
                    <td>forever</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>60s</td>
                </tr>
                {% for plan in plans|get:"_embedded"|get:"plans" %}
                    <tr>
                        <td><b>{{ plan.name|escape }}</b></td>
                        <td><i class="fa fa-{{ plan.currency|lower|escape }}"
                               aria-hidden="true"></i>{{ plan.amount|divide:100|floatformat|escape }}</td>
                        <td>{{ plan.trial_period|escape }} days</td>
                        <td>{{ plan.max_alarms|escape }}</td>
                        <td>{{ plan.max_teams|escape }}</td>
                        <td>{{ plan.max_members_per_team|escape }}</td>
                        <td>{{ plan.min_alarm_interval|escape }}s</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}

{% block inline_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        //]]>
    </script>
{% endblock %}
