{% extends "layout.html" %}
{% load filters %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="page-header">
            <h1>Plans</h1>
        </div>

        <ol class="breadcrumb">
            <li>Account</li>
            <li class="active">Plans</li>
        </ol>

        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul>
                <li>
                    Subscription allowances such as maximum number of alarms apply globally
                    to all users within teams you create
                </li>
                <li>
                    For example, a team with 5 users, each of them with 10 alarms,
                    means you have used 50 out of your <b>ALARMS</b> allowance
                </li>
                <li>
                    You can upgrade or downgrade your plan at any time
                </li>
            </ul>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Plan</th>
                <th>Monthly Price</th>
                <th>Free Trial</th>
                <th>Alarms</th>
                <th>Teams</th>
                <th>Users Per Team</th>
            </tr>
            </thead>
            <tbody>

            {% for plan in plans|get:"_embedded"|get:"plans" %}
                <tr>
                    <td><b>{{ plan.name|escape }}</b></td>
                    <td><i class="fa fa-{{ plan.currency|lower|escape }}"
                           aria-hidden="true"></i>{{ plan.amount|divide:100|floatformat|escape }}</td>
                    <td>{{ plan.trial_period|escape }} days</td>
                    <td>{{ plan.max_alarms|escape }}</td>
                    <td>{{ plan.max_teams|escape }}</td>
                    <td>{{ plan.max_members_per_team|escape }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr class="featurette-divider">

    </div>
    <!-- /.container -->

{% endblock %}

{% block inline_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        //]]>
    </script>
{% endblock %}
