/* Landing page header image */

.jumbotron {
    padding: 0;
    margin-bottom: 0;
    background: none;
    z-index: 9999;
    color: white;
    text-align: center;
}

.jumbotron .alert {
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron h1 {
    letter-spacing: 2px;
    font-family: Lato, sans-serif;
}

.jumbotron p {
    font-size: 1.25em;
}

.jumbotron .headline {
    padding: 143px 0 88px;
}

.jumbotron .headline h1 {
    font-size: 3em;
}

.jumbotron .headline a {
    color: #B9E88A;
}

.jumbotron .headline a.btn {
    color: #27303C;
}

.jumbotron .headline a.btn:hover {
    color: #B9E88A;
}

.jumbotron .headline a.btn-facebook, .jumbotron .headline a.btn-facebook:hover {
    color: white;
}

.header-image, .header-image-full {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url('/static/images/bg.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header-image-full {
    z-index: -9999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Login form */

.form-signin {
    max-width: 330px;
    padding: 0 29px 29px;
    margin: 0 auto 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="email"],
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Footer */

footer {
    margin-bottom: 0;
    background: #27303C;
    border-color: #0807FF;
    color: #B9E88A;
}

footer .row {
    background: #27303C;
    padding: 30px 0;
}

footer a, footer a:hover, footer a:active {
    color: #B9E88A;
}

.stripe-badge img {
    border: 0;
}

.ios-download-badge img {
    border: 0;
}

/* Responsive media queries */

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

@media (max-width: 1200px) {
    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media (max-width: 991px) {
    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }

    .center-to-left {
        text-align: left;
        float: left;
    }

    .center-to-right {
        float: right;
        text-align: right;
    }
}

@media (max-width: 668px) {
    .featurette-divider {
        margin: 30px 0;
    }
}

@media (max-width: 640px) {
    .header-image .headline {
        padding: 96px 0;
    }
}

@media (max-width: 375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .header-image .headline {
        padding: 48px 0;
    }
}

/* Misc styles */

a.ios-download-badge img {
    width: 170px;
    height: 46px;
}
